* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 1rem;
}

footer {
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 4rem;
    border: solid black 0.06rem;
    background-color: wheat;
}

.formContainer {
    margin-top: 2rem;
    margin-left: 1rem;
}

button {
    margin: 1rem;
}
